h1,
h2,
h3,
h4,
p,
a,
label,
input,
button,
.label {
	font-family: 'Montserrat', Verdana, 'YuGothic', 'Yu Gothic', '游ゴシック', '游ゴシック体', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

header {
	background-image: url(../img/header_img.png);
	background-size: cover;
	height: 360px;
	position: relative;
}

body>article {
	padding: 0;
}

aside {
	background-color: #EEEEEE;
	padding: 60px 0;
	position: relative;
}

footer {
	background-color: #333333;
	padding: 30px 0;
	color: white;
}

header h1,
header a {
	color: white;
}

h1 {
	font-weight: 700;
	font-size: 77px;
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
}

h2 {
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: bold;
}

h4 {
	font-size: 16px;
	color: #D43F3A;
}

p {
	margin-top: 15px;
}

p a {
	color: #D43F3A;
	border-bottom: 1px solid #D43F3A;
}

a>p:last-child {
	color: #D43F3A;
	border-bottom: 1px solid #D43F3A;
}

article {
	padding: 30px 0;
	border-bottom: 1px solid #EEEEEE;
}

article>section {
	background-color: #DDDDDD;
}

time {
	font-size: 20px;
}

img {
	width: 124px;
	border-radius: 124px;
	border: 4px solid #FFFFFF;
}

.container-fluid {
	padding: 0;
}

.container-fluid>article {
	padding: 0;
}

.navbar-right {
	margin-right: 15px;
}

.glyphicon-tags {
	color: #D43F3A;
	margin-right: 10px;
}

.btn {
	font-size: 12px;
}

.label {
	font-size: 12px;
	margin-right: 5px;
}

.fa {
	color: #D43F3A;
	margin: 0 5px;
}

.fa-tags {
	margin-top: 20px;
}

section {
	margin-top: 20px;
	padding: 30px 0;
	border-top: 1px solid #FFFFFF;
}

section>p {
	font-size: 16px;
	line-height: 2em;
}

section>h3 {
	font-size: 18px;
	font-weight: bold;
}

.navbar-brand {
	margin-left: -15px;
}

.col-sm-9>a {
	color: #333333;
}

.col-sm-9>a:hover {
	color: #646473;
}